// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

//Contrast
$yiq-contrasted-threshold: 150;

// Spacing
$spacer: 1rem;
$font-size-base: 1rem;

$enable-rounded: false;
$enable-shadows: false;
$enable-responsive-font-sizes: true;
//$enable-grid-classes: true;

$spacers: (0: 0,
	1: ($spacer * .25),
	2: ($spacer * .5),
	3: $spacer,
	4: ($spacer * 2),
	5: ($spacer * 4),
	6: ($spacer * 8));
// Colors
/* Color Theme Swatches in Hex */
$teal: #076873;
$mustard: #F28B30;
$orange: #F23C13;
$pink: #F2887E;
$maroon: #A65D56;
$white: #ffffff;
$midnight: #03272b;


$colors: ("teal": $teal,
	"mustard":$mustard,
	"orange":$orange,
	"pink": $pink,
	"maroon": $maroon,
	"white": $white,
	"midnight":$midnight);


$primary: $teal;
$secondary: $pink;
$success: $teal;
$info: $mustard;
$warning: $orange;
$danger: $maroon;
$light: $white;
$dark: $midnight;
$transparent: transparent;

//Radius
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Typography
$body-color: #191e23;
$font-family-sans-serif:'inter',
sans-serif;
$font-family-serif:'Noto Serif',
serif;

$headings-font-family: $font-family-sans-serif;
$font-family-base: $font-family-serif;
$headings-line-height: 1.1;

$headings-font-weight: 700;
$headings-margin-bottom: $spacer/2;

$font-size-xl: $font-size-base * 1.5;
$font-size-lg: $font-size-base * 1.25;
$font-size-small: $font-size-base * 0.75;

$h1-factor: 3.052;
$h2-factor: 2.441;
$h3-factor: 1.953;
$h4-factor: 1.563;
$h5-factor: 1.25;
$h6-factor: 1;

$heading-factors: ("h1":$h1-factor,
	"h2":$h2-factor,
	"h3":$h3-factor,
	"h4":$h4-factor,
	"h5":$h5-factor,
	"h6":$h6-factor);


$h1-font-size: $font-size-base * $h1-factor;
$h2-font-size: $font-size-base * $h2-factor;
$h3-font-size: $font-size-base * $h3-factor;
$h4-font-size: $font-size-base * $h4-factor;
$h5-font-size: $font-size-base * $h5-factor;
$h6-font-size: $font-size-base * $h6-factor;

$display1-weight: 800;
$display2-weight: 800;
$display3-weight: 800;
$display4-weight: 800;

$line-height-base: 1.75;
$paragraph-margin-bottom: $spacer;

$hr-border-color: $midnight;

$link-decoration: none;
$link-hover-decoration: none;

// Table
$table-cell-padding: $spacer/6;

// Wordpress
$wp-adminbar-offset: 32px;


//Input config
$component-active-bg: $pink;

//Buttons
$input-btn-font-family: $font-family-sans-serif;
$input-btn-border-width: 1px;
$input-btn-padding-x: $spacer * 1;
$input-btn-padding-y: $spacer * 0.5;

$input-btn-padding-x-lg: $spacer * 2;
$input-btn-padding-y-lg: $spacer;

$input-btn-focus-color: $component-active-bg;



//Layout
$grid-gutter-width: $spacer * 2;
$column-padding: $spacer;

//navbar
$navbar-padding-y: $spacer * 0.75;

//Components
$border-width: 1.5px;
$border-color: $dark;

//List group
$list-group-border-color: $midnight;
$list-group-item-padding-x: 0;
$list-group-bg: transparent;


//Modal
$modal-content-border-color:transparent;
$modal-content-border-width: 0;
$modal-content-box-shadow-xs: none;
$modal-content-box-shadow-sm-up: none;
$modal-backdrop-bg: $midnight;
$modal-backdrop-opacity: 0.2;

// Input form
$input-border-color: $midnight;
$input-box-shadow: none;
$input-font-family: $font-family-sans-serif;
$input-focus-border-color: $component-active-bg;


//Togler
$navbar-dark-color: rgba($white, .75);
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='square' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: transparent;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

/* Color Theme Swatches in Hex 
$MIMIM-Zine- //-Glam-Rock-Issue-1-hex: #F24452;
$MIMIM-Zine- //-Glam-Rock-Issue-2-hex: #032CA6;
$MIMIM-Zine- //-Glam-Rock-Issue-3-hex: #F2E41D;
$MIMIM-Zine- //-Glam-Rock-Issue-4-hex: #A67D03;
$MIMIM-Zine- //-Glam-Rock-Issue-5-hex: #0D0D0D;*/



/* Color Theme Swatches in Hex 
$Publicist.co-1-hex: #0FA697;
$Publicist.co-2-hex: #400808;
$Publicist.co-3-hex: #F22222;
$Publicist.co-4-hex: #F25C5C;
$Publicist.co-5-hex: #F2F2F2;*/

/* Color Theme Swatches in Hex
$Norm-Architects-—-web,-brand-1-hex: #F2F2F0;
$Norm-Architects-—-web,-brand-2-hex: #BFBFBD;
$Norm-Architects-—-web,-brand-3-hex: #59402A;
$Norm-Architects-—-web,-brand-4-hex: #8C8784;
$Norm-Architects-—-web,-brand-5-hex: #D9430D;*/
