@mixin pseudolink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	overflow: hidden;
	text-indent: 200%;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0);
}

@mixin open-list() {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	@include list-unstyled();
	@include my(2);

	li {
		position: relative;
		display: block;
		padding: $spacer/2 0;
		background-color: $list-group-bg;
		border-color: $list-group-border-color;
		border-bottom: $border-width currentcolor solid;
		@include mb(0);

		@include media-breakpoint-up(lg) {
			padding: $spacer 0;
		}


		&:last-child {
			border-bottom: none;
		}

	}

	a {
		color: inherit;
	}
}

@mixin fontawesome() {
	display: block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;


}

@mixin make-col-flex() {

	flex-basis: 0;
	flex-grow: 1;
	min-width: 0;
	max-width: 100%;
}

@mixin boxshadow() {
	box-shadow: $spacer $spacer 0 rgba(#231f20, 0.2);
}
