.hero {
	@include py(6);
	min-height: 50vh;

	h1 {
		@include mt(0);
	}

	.inner {
		@include make-container;
		@include make-container-max-widths();
	}

	.hero-col {
		@include make-col-ready();

		&-left {
			@include make-col-ready();
			background-color: $white;
			@include p(3);
			@include boxshadow;
			@include mb(3);

			@include media-breakpoint-up(md) {
				@include make-col(6);
				@include mb(0);

			}
		}

		&-right {
			display: flex;
			@include px(0);

			@include media-breakpoint-up(md) {
				@include make-col(5);
				@include px($spacer);
				@include make-col-offset(1);
			}
		}

		&-form {
			width: 100%;
			@include my(auto);
			background-color: $white;
			@include boxshadow;
			@include p(3);
			display: flex;
			flex-direction: column;
		}

	}



	&-form {
		h3 {
			@include mt(0);
		}

		> div {
			@include mb(3);
		}

		label {
			font-family: $font-family-sans-serif;
		}

		.btn {
			@include ml(auto);
			@include button-variant($secondary, $secondary);
		}

	}

	h1 {
		@extend .display-4;
	}



}
