/*-----------
/ Set up pages columns etc
/*-------------*/

//Make sure nothing overflows
.site {
	width: 100%;

}

.row {
	@include make-row();
}

.inner {
	@include make-container;
	@include make-container-max-widths();
}

.site-main {
	@include make-row();

}

@mixin widecontent {
	position: relative;
	width: 100%;
	@include mx(auto);

	@include media-breakpoint-up(md) {
		@include make-col(10);
		@include make-col-offset(1);
	}

	@include media-breakpoint-up(lg) {
		@include make-col(8);
		@include make-col-offset(2);
	}
}

//Calculate navbar height
$navbar-calc-height: $navbar-padding-y * 2 + $nav-link-height;


//Posts
body.single {
	.post {

		@include make-row(0);

		.entry-header {
			@include make-col-ready();

			@include media-breakpoint-up(md) {
				@include make-col(5);
				position: sticky;
				top: $navbar-calc-height + 2rem;
				height: 100vh;
			}

		}

		.entry-title {
			@include font-size($h2-font-size);

			@include media-breakpoint-up(md) {
				@include mt(5);
			}

		}

		.entry-content {
			overflow-x: hidden;
			@include make-col-ready();

			@include media-breakpoint-up(md) {
				@include make-col(7);

				@include media-breakpoint-up(md) {
					@include mt(5);
				}
			}

		}

		.share-bar {
			@include media-breakpoint-up(sm) {
				height: 50vh;
				position: sticky;
				right: 0;
				top: $navbar-calc-height + 2rem;

				&-list {
					@include mt(5);
				}
			}
		}

	}
}

body.page {
	.wrapper {
		overflow-x: hidden;
	}

	article {
		@include make-col-ready();
		@include make-col(12);

		.entry-content {

			@include make-row(0);

			& > *:not(.alignwide):not(.alignfull):not(.is-style-wide) {
				@include widecontent;


			}

		}
	}
}

// Archives
.archive {

	.content-area {
		@include make-col-ready();

		@include media-breakpoint-up(md) {
			@include make-col(9);
		}

		@include media-breakpoint-up(lg) {
			@include make-col(8);
		}
	}

	.sidebar {
		@include make-col-ready();

		@include media-breakpoint-up(md) {
			@include make-col(3);
		}

		@include media-breakpoint-up(lg) {
			@include make-col(4);
		}

	}

}



//Headroom
#wrapper-navbar {
	height: $navbar-calc-height;
}

.site-header {
	.inner {
		display: flex;
		@include make-container();
		@include make-container-max-widths();
	}

	@extend .navbar;
	@include transition(all 1s);
	@extend .navbar-dark;
	background-color: $secondary;
	z-index: $zindex-fixed;

	.navbar-brand {
		margin-right: $grid-gutter-width
	}

	.brand-tagline {
		@extend .navbar-text;
		color: $white;
		@include mr(auto);
		@include my(auto);
		font-style: italic;
		display: none;

		@include media-breakpoint-up(sm) {
			display: block;
		}
	}

	&.top {
		width: 100%;

	}

	&.slideUp.not-top {
		@extend .fixed-top;
		@extend .bg-dark;

	}

	.navbar-toggler {
		@include ml(auto);

		&:focus {
			.navbar-toggler-icon {
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='square' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/></svg>");
			}

			outline: none;
		}
	}
}

// Footer
.footer-full {
	background-color: $primary;
	color: $light;

	a {
		color: inherit;
	}

	.inner {
		@include pt(5);
	}

	.widget {
		@include make-col-ready();
		@include make-col-auto();
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;

	}

	.widget-title {
		@include mt(0);
	}

	.widget_archive {
		ul {
			@include open-list;
		}
	}
}

// Site footer
.site-footer {
	background-color: $primary;
	@include pt(3);
	@include pb(4);
	color: $light;
	font-family: $font-family-sans-serif;
	font-size: $font-size-small;

	a {
		color: inherit;
	}
}

//////////////////////////////////////
// Off Canvas / Drop Down Menu
//////////////////////////////////////

#main-menu {
	li.active a {
		border-bottom: 2px solid $midnight;
	}

	li {
		@include font-size(2rem);
		font-weight: 200;

		a {
			color: #fff;
			padding-top: ($spacer/3);
			padding-bottom: ($spacer/3);
		}
	}
}


#ModalNav .modal-content {
	background-color: theme-color("dark");
	padding: 8vh;

	.close {
		text-shadow: none;
		position: absolute;
		top: -6vh;
		right: -6vh;
		opacity: 1;
		padding: 0 10px;
		@include font-size(3rem);
		font-weight: lighter;
		color: rgba($white, 0.8);

		&:focus {
			outline: none;
		}

		&:hover {
			color: $white;
		}
	}

	.dropdown-menu {
		float: left;
		border: none;
		padding: 1vh 1vw;
		text-align: left;
		width: 100%;
		position: relative;
		top: 0%;
	}

	#main-menu .dropdown-menu li {
		font-size: 1.25em;

		a {
			padding-top: ($spacer/4);
			padding-bottom: ($spacer/4);
			border-bottom: 1px solid #fff;
		}
	}

	.modal-header {
		border-bottom: none;
	}
}

// Fallback menu
.fallback ul {
	padding-left: 0px;

	li a {
		display: table;
	}

	li.current_page_item a {
		//border-bottom: 1px solid $accent-color;
	}
}

///////////////////////////////////
// Sidebar
//////////////////////////////////
.widget {
	ul {
		@extend .list-group;

		li {
			@extend .list-group-item;
			border-left: 0;
			border-right: 0;
		}
	}
}
